.djqcpaud{
    margin-left: 15px;
    margin-top: 5px;
    font-weight: bold;
    color: #223455;
}

.tlrhd-border{
    border: 1px solid #223455 !important;
    color: #223455 !important;
    background-color: #ffffff;
    font-weight: bold;
    transition: 0.3s;
}
.tlrhd-border:hover{
    background-color: #223455 !important;
    color: white !important;
    transition: 0.3s;
}

.tlrhd-border a:hover{
    background-color: #223455 !important;
    color: white !important;
    transition: 0.3s;
}

.tlrhd-btn{
    width: 60px;
    height: 40px;
    
    font-size: 20px;
    margin: 0 auto;
    display: block;

}

.page-n{
    border: 1px solid #223455 !important;
    color: #223455 !important;
    font-weight: bold;
    transition: 0.3s;
}

.page-n:hover{
    background-color: #223455 !important;
    color: white !important;
    transition: 0.3s;
}