.djqcpaud{
    margin-left: 15px;
    margin-top: 5px;
    font-weight: bold;
    color: #223455;
}

.tlrhd-border{
    border: 1px solid #9AAAC9 !important;
    color: #223455 !important;
    background-color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s;
    left: 5%;
}
.tlrhd-border:hover{
    background-color: #223455 !important;
    color: white !important;
    transition: 0.3s;
}

.tlrhd-border a:hover{
    background-color: #223455 !important;
    color: white !important;
    transition: 0.3s;
}

.tlrhd-btn{
    width: 60px;
    height: 40px;
    margin: 0 auto;
    display: block;

}

.submit-btn{
	display: inline-flex;
	justify-content: flex-start;
	margin-bottom: 15px;
	
}

.page-n{
    border: 1px solid #223455 !important;
    color: #223455 !important;
    font-weight: bold;
    transition: 0.3s;
}

.page-n:hover{
    background-color: #223455 !important;
    color: white !important;
    transition: 0.3s;
}

.img-size{
	display: inline-flex;
    justify-content: center;
	overflow: hidden;
	width: 100%;
	height: 250px;
	align-items: center;
    border-radius: 10px;
}

.img-contain{
	object-fit: contain;
}

.banner-size{
	overflow: hidden;
	width: 100%;
	height: 300px;
}

.banner{
	margin-top: 116px;
}

.img-banner{
	margin: 0 !important;
	width: 85%;
	z-index: 1;
}

hr{
	margin: 20px 0 30px	;
}

.banner-box{
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.padding-area1, .padding-area2{
	width: 7.5%;
	height: 330px;
	background-color: #fff;
	z-index: 2;
}

.padding-area1{
	box-shadow: white 30px 0px 40px 50px;
}

.padding-area2{
	box-shadow: white -30px 0px 40px 50px;
	
}

.exam-box{
	display: flex;
	
}

.category-box{
	min-width: 200px;
	border: 1px solid #9AAAC9;
	margin: 0 20px;
	padding: 20px;
}

.radio-cate{
	margin-bottom: 0.7rem !important;
}








