.tlrhd-liked{
    border: 2px solid red !important;
    color: red !important;
    background-color: #ffffff;
    font-weight: bold;
    transition: 0.3s;
    font-size:30px;
    
    border-radius: 50px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tlrhd-liked:hover,
.tlrhd-liked.clicked {
    background-color: red !important;
    color: white !important;
    transition: 0.3s;
}
.tlrhd-img{
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 40%;
    height: 30%;
}

.tlrhddjqcpaud{
    margin-top: 20px;

    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #223455;

}

.tlrhd-nav{
    text-align: center;
}

.tlrhd-content{
    width: 1000px;
    
    border: 0px solid black;
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;

}

.tlrhd-border{
    border: 2px solid #223455 !important;
    color: #223455 !important;
    background-color: #ffffff;
    font-weight: bold;
    transition: 0.3s;
}
.tlrhd-border:hover{
    background-color: #223455 !important;
    color: white !important;
    transition: 0.3s;
}
.tlrhd-like{
    border: 2px solid #223455 !important;
    color: #223455 !important;
    background-color: #ffffff;
    font-weight: bold;
    transition: 0.3s;
    font-size:40px;
}
.tlrhd-like:hover{
    background-color: #223455 !important;
    color: white !important;
    transition: 0.3s;
}

.tlrhd-ruswjr{
	margin-left: 30% !important;
	margin-right: 45% !Important;
	text-align: left;
}

.like-btn-box{
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.btn-group-box{
	display: inline-flex;
	width: 100%;
	justify-content: center;
	align-items: center;
}