.djqcpaud{
    margin-left: 15px;
    margin-top: 5px;
    font-weight: bold;
    color: #223455;
}

.page-n{
    border: 1px solid #223455 !important;
    color: #223455 !important;
    font-weight: bold;
    transition: 0.3s;
}

.page-n:hover{
    background-color: #223455 !important;
    color: white !important;
    transition: 0.3s;
}

.img-size{
	display: inline-flex;
    justify-content: center;
	overflow: hidden;
	width: 100%;
	height: 250px;
	align-items: center;
}

.img-contain{
	object-fit: contain;
}