.btn{
	margin: 0 !important;
}

.exam-btn{
	margin-bottom: 20px !important;

}
	
.tlrhd-border{
    border: 1px solid #9AAAC9 !important;
    color: #223455 !important;
    background-color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s;
    left: 5%;
}


.tlrhd-border a:hover{
    background-color: #223455 !important;
    color: white !important;
    transition: 0.3s;
}

.btn2{
	margin-bottom:0px !important;
}

.tlrhd-like{
    border: 2px solid red !important;
    color: red !important;
    background-color: #ffffff;
    font-weight: bold;
    transition: 0.3s;
    font-size:30px;
    
    border-radius: 50px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    left: -220%;
    
}
.tlrhd-like:hover,
.tlrhd-like.clicked {
    background-color: red !important;
    color: white !important;
    transition: 0.3s;
    position: relative;
    left: -220%;
}

.info-box-parent{
	padding-left: 70px;
}

.img-box-parent{
	display: flex;
	justify-content: center;
}


@media(max-width: 1400px){
	.tlrhd-like,
	.tlrhd-like:hover,
	.tlrhd-like.clicked {
	    left: -105%;
	}
	
	.repl{
		width: 70% !important;
	}
	
	.repl2{
		width: 70% !important;
	}
}

@media(max-width: 1200px){
	.tlrhd-like,
	.tlrhd-like:hover,
	.tlrhd-like.clicked {
	    left: 0%;
	}
}

@media(max-width: 1000px){
	.btn-box{
		height: 140px;
		align-items: flex-start !important;
	    flex-direction: column;
    }
	
}

@media(max-width: 990px){
	.copy-content-box{
		min-width: 560px;
	}
	
	.info-box-parent{
		padding: 0;
		display: flex;
	    justify-content: center;
	    flex-direction: column;
	    align-items: center;
	}
	.detail-box-info{
	    position: relative;
	    left: -36%;
	}
	
	.btn-box{
		width: 60%;
		align-items: center !important;
		height: auto;
		flex-direction: row;
	}
}

.container {
    display: flex;
    
    height: 100%;
    flex-direction: column;
    padding-left: 0px;
    padding-right: 0px;
}

.container-img{
	display: flex !important;
	align-items: center;
}

.image-upload {
	width: 480px;
	max-width: 480px;
	height: 320px;
    overflow: hidden;
	display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 1180px){
	.sizing{
		width: 420px;
		height: 350px;
	}
}


.button {
    display: flex;
    justify-content: center;
}

label {
    cursor: pointer;
    font-size: 1em;
}

#chooseFile {
    visibility: hidden;
}

.fileContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fileInput {
    display: flex;
    align-items: center;
    border-bottom: solid 2px black;
    width: 60%;
    height: 30px;
}

#fileName {
    margin-left: 5px;
}

.buttonContainer {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    background-color: black;
    color: white;
    border-radius: 30px;
    padding: 10px;
    font-size: 0.8em;

    cursor: pointer;
}

.image-show {
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
}

.img {
    position: absolute;
}

.img-border{
    border: 0px solid #dee2e6 !important
}

.img-size{
    object-fit: cover;
	display: inline-flex;
    justify-content: center;
	overflow: hidden;
	width: 100%;
	align-items: center;
    border-radius: 10px 10px 0px 0px;
}

.img-contain{
	object-fit: cover;
	height: -webkit-fill-available;
	
}

.img-size-2{
	display: inline-flex;
    justify-content: center;
	overflow: hidden;
	width: 100%;
	height: 250px;
	align-items: center;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
}

.img-contain-2{
	object-fit: cover;
	height: -webkit-fill-available;
	
}

.btn-box{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.page-n{
    border: 1px solid #223455 !important;
    color: #223455 !important;
    font-weight: bold;
    transition: 0.3s;
}

.page-n:hover{
    background-color: #223455 !important;
    color: white !important;
    transition: 0.3s;
}

.copydetail-box{
	padding: 0 80px;
	margin: 0 0 40px 0;
	width: 100%;
	display: flex;
	justify-content: center !important;
}

.copy-content-box{
    line-height: 1.9;
	border: 1.5px solid #e7e7e7;
	border-radius: 10px;
	min-height: 90px;
	padding: 10px;
	font-size: 14px;
    overflow: auto;
    max-height: 330px;
}



.copy-content-box::-webkit-scrollbar-thumb {
	height: 30px; /* 스크롤바 막대 최소 높이 */
}


.copy-content-div{
	margin-top: 20px;
}

.info-title{
	font-size: 17px;
	margin-bottom: 5px;
	padding-left: 5px; 
}

.detail-title{
	font-size: 17px;
	margin-bottom: 5px;
}

.info-box{
	font-size: 15px;
	padding: 0 5px 5px;
}

.review-contain-box{
	display: flex;
	justify-content: center;
	width: 100%;
	flex-direction: column;
    align-items: center;
}

.repl{
	width: 1100px;
	display: inline-flex;
	justify-content: center;
	flex-direction: column;
}

.repl2{
	padding: 0 30px;
	width: 1100px;
}

.sizing-box{
	max-width: 1100px;
	min-width: 530px;
}

.exam-list-height{
	max-height: 480px;
}