table {
    width: 100%;
    border-collapse: collapse;
}


td {
    border-bottom: 1px solid black !important;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    padding: 10px;
}

select {
    width: 80px;
    height: 40px;
    border-radius: 40px;
    border: solid 2px #ffb524;
    margin-top: 100px;
}

.check {
    width: 50px;
    height: 20px;
    background-color: #869ec9;
    border-radius: 20px;
    text-align: center;
    padding-bottom: 27px;
    padding-top: 2px;
    color: #f2f2f2;
    font-weight: bold;
    border: 0;
    margin-right: 7px;

}

td .check:hover {
    background-color: #223455;
    color: #f2f2f2;
}
/* 
li a {
    background-color: #869ec9 !important;
} */

.page-n {
    border: 1px solid #223455 !important;
    color: #223455 !important ;
    font-weight: bold;
    transition: 0.3s;
}

.page-n:hover {
    background-color: #223455 !important;
    color: white !important;
    transition: 0.3s;
}