.container {
    display: flex;
    height: 100%;
    flex-direction: column;
    padding-left: 0px;
    padding-right: 0px;
}

.image-upload {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sizing{
		width: 550px;
		height: 400px;
}

@media (max-width: 1180px){
	.sizing{
		width: 420px;
		height: 350px;
	}
}


.button {
    display: flex;
    justify-content: center;
}

label {
    cursor: pointer;
    font-size: 1em;
}

#chooseFile {
    visibility: hidden;
}

.fileContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fileInput {
    display: flex;
    align-items: center;
    border-bottom: solid 2px black;
    width: 60%;
    height: 30px;
}

#fileName {
    margin-left: 5px;
}

.buttonContainer {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    background-color: black;
    color: white;
    border-radius: 30px;
    padding: 10px;
    font-size: 0.8em;

    cursor: pointer;
}

.image-show {
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
}

.img {
    position: absolute;
}

.img-border{
    border: 0px solid #dee2e6 !important
}

.img-size{
	max-height: 300px;
	max-width: 300px;
}

.btn-box{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.repl{
    margin-left: 300px;
}

.page-n{
    border: 1px solid #223455 !important;
    color: #223455 !important;
    font-weight: bold;
    transition: 0.3s;
}

.page-n:hover{
    background-color: #223455 !important;
    color: white !important;
    transition: 0.3s;
}