
.search-section{
    margin-top: 120px;
    display: inline-flex;
    justify-content: center !important;
    align-content: center !important;
    width: 100%;
    height: 100%;
}

.example-div{
    display: inline-flex;
    flex-direction: row;
    margin: 20px 0;
}

.search-box{
    width: 70%;
    height: 70%;
}

img {
	width: 250px;
	height: 250px;
	object-fit: cover;
}


.search-img{
    position: relative;
    /* width: 20%;
    height: 20%; */
    border-radius: 5px;
    margin-right: 10px;
}


.search-result{
    width: 100%;
    max-width: 1200px;
    border: solid 1.5px #d4d4d48d;
    border-radius: 7px;
    padding: 10px 20px;
    margin-top: 5px;
    margin-bottom: 35px;
    display: inline-flex;
    flex-direction: row;
    align-items: center !important;
    overflow: auto;
}

.search-result-1{
    width: 100%;
    max-width: 1200px;
    border: solid 1.5px #d4d4d48d;
    border-radius: 7px;
    padding: 10px 20px;
    margin-top: 5px;
    margin-bottom: 35px;
    display: inline-flex;
    flex-direction: column;
    align-items: center !important;
    overflow: auto;
}

.row1 {
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y)*-1);
    margin-right: calc(var(--bs-gutter-x)/-2);
    margin-left: calc(var(--bs-gutter-x)/-2)
}

.copy-search{
    cursor: pointer;
}

.example-result{
    width: 100%;
    max-width: 1200px;
    min-width: 670px;
    border: solid 1.5px #d4d4d48d;
    border-radius: 7px;
    padding: 40px;
    margin-top: 5px;
    margin-bottom: 35px;
    display: inline-flex;
    flex-direction: column;
   /*  align-items: center  !important; */
}

.hr{
    margin-bottom: 30px;
    border: solid 2px #d4d4d48d;
}

.example-hr{
    margin: 30px 0 ;
}

.example-box{
    width: 100%;
    display: inline-flex;
    justify-content: flex-start;
    flex-direction: column;
}

.example-content{
    white-space: nomal;
    margin-top: 5px5px
}

.example-obj{
    margin: 12px 5px;
}

.example-obj h5, p{
    cursor: pointer;
}

.example-obj h5:hover, p:hover{
    text-decoration-line: none;
    
}